@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
*{
    margin:0;
    padding:0;
    border:0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h6{
    font-family: 'Roboto', sans-serif; 
}
.title{
    margin-top: 2rem;
    font-size: 1.25rem;
    
}
.resultVal{
    margin: 0.5rem;
    font-size: 0.93rem;
}


.inputField{
    width: 13rem;
    margin: 2rem;
    padding: 0.5rem;
    border-bottom: 0.5px solid rgba(0.5, 0.5, 0.5, 0.2);
    transition: border 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.inputField:focus{
    border-bottom: 2px solid aqua; 
}

.infoText{
    margin: 4rem;
    font-weight: 300;
}

.submitButton{
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: 10px;
    border: 1px solid grey;
}

.submitButton:hover{
    border: 1px solid aqua;
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    .title{
        padding: 1rem;
        font-size: 0.93rem;
    }
    .submitButton{
        margin: 0.5rem;
    }
}